* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  padding: 2em;
  overflow: hidden;
}

.badge-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.badge-wrapper img {
  transition: all 0.6s ease-out;
  transform: rotateY(-90deg);
  height: 220px;
  margin: 20px;
  opacity: 0;
  width: 220px;
}

.badge-wrapper img.on {
  opacity: 1;
  transform: rotateY(0deg);
}
